@charset "utf-8";
/* CSS Document */

/*基础样式
  -----------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,lable,textarea,p,blockquote,img{margin:0;padding:0;}
img{border:none; float:none; cursor:pointer;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body{margin:0 auto;font:12px Verdana, Arial, Helvetica, sans-serif,"宋体"; color:#42515A; word-break:break-all; min-width:1024px; min-height:500px;}
select,input{vertical-align:middle; padding:1px 0;}
label{cursor:hand;}
div{ display:block;}

/*链接样式
  -----------------------------------------*/
a:link, a:visited{color:#333;text-decoration:none;}
a:hover, a:active{color:#ff3300;text-decoration:underline;}


/* 标准定义
-------------------------------------------*/
.center{margin:0 auto;} /*居中对齐*/
/*文本水平对齐方式*/
.g_t_l{text-align:left;} /*左对齐*/
.g_t_c{text-align:center;}/*居中对齐*/
.g_t_r{text-align:right;}/*右对齐*/
.g_t_j{text-align:justify;}/*两端对齐*/
/*文本垂直对齐方式*/
.g_v_t{vertical-align:top;}/*上部对齐*/
.g_v_m{vertical-align:middle;}/*中部对齐*/
.g_v_b{vertical-align:bottom;}/*下部对齐*/
/*定位方式*/
.relative{position:relative; z-index:1;}/*相对定位*/
.absolute{position:absolute;}/*绝对定位*/
/*浮动方式*/
.fl{float:left;}/*左浮动*/
.fr{float:right;}/*右浮动*/
.mt5{margin-top:5px;}/*上边距5像素*/
.mt10{margin-top:10px;}/*上边距10像素*/
.mt20{margin-top:20px;}
.pr10{padding-right:10px;}/*右内边距10像素*/
.mr10{margin-right:10px;}/*右边距10像素*/
.mr8{margin-right:8px;}
.box:after{content:"\0020";display:block;height:0;clear:both;}
.mr5{margin-right:5px;}/*右边距5像素*/
.hide{display:none;}/*显示方式-无*/
.block{display:block;}/*显示方式-块*/
.mb10{margin-bottom:10px;}/*下边距10像素*/
.mb5{margin-bottom:5px}
.ml5{ margin-left:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml26{margin-left:26px;}
.ml30{margin-left:30px;}


/*宽度定义
---------------------------------------*/
.w_100{width:100%;}
.w96{width:96px;}
.w250{width:250px;}
.w450{width:450px;}
.w720{width:720px;}
.w845{width:845px;}
.w439{width:439px;}
.w960{width:960px;}
.w355{width:355px;}
.w1152{ width:1152px;}
.w1263{ width:1263px;}
.w1024{ width:1024px;}